<form class="panel panel-default" id="lofinForm" name="loginForm" data-ng-submit="login()">
    <div class="panel-heading">Login</div>
    <div class="panel-body" id="loinFormInputsContainer">
        <label for="usernameLabel">Username:</label>
        <input type="text" id="usernameLabel" required="required" data-ng-model="loginData.username" />
        <label for="passwordLabel">Password:</label>
        <input type="password" id="passwordLabel" required="required" data-ng-model="loginData.password" />
    </div>
    <div id="buttonContainer">
        <input type="submit" class="btn btn-default btn-lg" disabled="{{isDisabledLoginButton}}"  value="Login" />
        <a href="#/" class="btn btn-default btn-lg">Cancel</a>
    </div>
</form>
