<form data-ng-controller="loginController" class="panel panel-default" id="lofinForm" name="loginForm">
    <div class="panel-heading">Login</div>
    <div class="panel-body" id="loinFormInputsContainer">
        <label for="usernameLabel">Username:</label>
        <input type="text" id="usernameLabel" required="required" />
        <label for="passwordLabel">Password:</label>
        <input type="password" id="passwordLabel" required="required" />

    </div>
    <div id="buttonContainer">
        <input type="submit" class="btn btn-default btn-lg" value="Login" />
        <a href="#/" class="btn btn-default btn-lg">Home</a>
    </div>
</form>
