<div>
    <!--data-ng-controller="registerController"-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <h1 id="navHeading">Ads Register</h1>
    </nav>
    <div class="container-fluid">
        <!--left-->
        <aside id="leftAside" class="col-sm-3" data-ng-controller="loginRegisterController">
            <div data-ng-include="'partials/adsViewPartials/loginRegisterView.html'"></div>
        </aside>
        <!--/left-->
        <!--center-->
        <main class="col-sm-9" id="middleContainer">
            <div data-ng-include="'partials/registerView/registerForm.html'" id="registerViewContainer"></div>
        </main>
    </div>
</div>