<div id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a data-ng-href="#/" class="close" data-dismiss="modal" aria-hidden="true">×</a>
                <h1 class="text-center">Register</h1>
            </div>
            <div class="modal-body">
                <form class="form col-md-12 center-block" name="registerForm" data-ng-submit="register()">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Username" required="required" data-ng-model="newUser.username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" placeholder="Password" name="passwordInput" required="required" data-ng-model="newUser.password1" pattern=".{2,100}" title="Password length should be inclusive between 2 and 100.">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" placeholder="Confirm password" required="required" data-ng-model="newUser.password2" pattern=".{2,100}" title="Password length should be inclusive between 2 and 100.">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Name" required="required" data-ng-model="newUser.name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control input-lg" placeholder="Email" required="required" data-ng-model="newUser.email">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control input-lg" placeholder="Phone" data-ng-model="newUser.phone">
                    </div>
                    <div class="form-group">
                        <select class="form-control input-lg" data-ng-model="newUser.townId" data-ng-options="town.id as town.name for town in allTowns ">
                            <option value="">No Town</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Register" />
                        <span class="pull-right"><a data-ng-href="#/login">Login</a></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <a data-ng-href="#/" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>