<form class="panel panel-default" id="addNewAdForm" name="addNewAdForm" data-ng-submit="editAd()">
    <div class="panel-heading">Edit User Ad</div>
    <div class="panel-body row" id="publishNewAdFormInputsContainer">
        <div class="col-md-12 row">
            <div class="col-md-4">
                <!--<input type="text" id="fileTextInput" name="fileTextInput" data-ng-model="editedAd.imageDataUrl" pattern="^data:image/.*$" />-->
                <div id="publishAdImagePreviewContainer">
                    <img data-ng-src="{{editedAd.imageDataUrl?editedAd.imageDataUrl:'./img/No_Image_Available.png'}}" class="adImageContainer" />
                </div>
                <input type="file" id="imageInput" data-ng-model="editedAd.imageDataUrl" accept="image/*" onchange="angular.element(this).scope().changeUploadImage(this)" />
                <input type="button" id="deleteImageInput" data-ng-click="deleteImageDataUrl()" value="Delete Image" />
            </div>
            <div class="col-md-8">
                <div>
                    <label for="titleInput">Title:</label>
                    <input type="text" id="titleInput" required="required" data-ng-model="editedAd.title" />
                </div>
                <div>
                    <label for="textInput">Text:</label>
                    <textarea id="textInput" name="textInput" required="required" data-ng-model="editedAd.text"></textarea>
                </div>
                <div>

                </div>
                <div>
                    <p>
                        <label>Category:</label>
                        <select data-ng-model="editedAd.categoryId" data-ng-options="category.id as category.name for category in allCategories ">
                            <option value="">No Category</option>
                        </select>
                    </p>
                    <p>
                        <label>Town:</label>
                        <select data-ng-model="editedAd.townId" data-ng-options="town.id as town.name for town in allTowns ">
                            <option value="">No Town</option>
                        </select>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div id="buttonContainer">
        <input type="submit" class="btn btn-default btn-lg" value="Edit" />
        <a data-ng-href="#/user/ads" class="btn btn-default btn-lg">Cancel</a>
    </div>
</form>
