<div class="panel panel-default">
    <div class="panel-heading">My Ads</div>
    <div class="panel-body">
        <div class="list-group">
            <a href="" class="list-group-item" ng-class="{active : isThisMyAdFilterSelected('all')}" data-ng-click="changeMyAdFilter('all')">All</a>
            <a href="" class="list-group-item" ng-class="{active : isThisMyAdFilterSelected('published')}" data-ng-click="changeMyAdFilter('published')">Published</a>
            <a href="" class="list-group-item" ng-class="{active : isThisMyAdFilterSelected('waitingApproval')}" data-ng-click="changeMyAdFilter('waitingApproval')">Waiting Approval</a>
            <a href="" class="list-group-item" ng-class="{active : isThisMyAdFilterSelected('inactive')}" data-ng-click="changeMyAdFilter('inactive')">Inactive</a>
        </div>
    </div>
</div>
