<form class="panel panel-default" id="addNewAdForm" name="addNewAdForm" data-ng-submit="publishNewAd()">
    <!--novalidate-->
    <div class="panel-heading">Publish New Ad</div>
    <div class="panel-body row" id="publishNewAdFormInputsContainer">
        <div class="col-md-12">
            <div>
                <label for="titleInput">Title:</label>
                <input type="text" id="titleInput" required="required" data-ng-model="newAd.title" />
            </div>
            <div>
                <label for="textInput">Text:</label>
                <input type="text" id="textInput" name="textInput" required="required" data-ng-model="newAd.text" />
                <!--<span class="error" data-ng-show="(registerForm.passwordInput.$error.required == false) && !registerForm.passwordInput.$valid">Password length should be inclusive between 2 and 100</span>-->
            </div>
            <div>
                <!--<label for="fileTextInput">Image:</label>
                <input type="text" id="fileTextInput" name="fileTextInput" data-ng-model="newAd.imageDataUrl"  pattern="^data:image/.*$"/>-->
                <div id="publishAdImagePreviewContainer">
                    <img data-ng-src="{{newAd.imageDataUrl?newAd.imageDataUrl:'./img/No_Image_Available.png'}}" class="adImageContainer" />
                    <!--<p>Image File: {{newAd}}</p>-->
                </div>
                <input type="file" id="imageInput" data-ng-model="newAd.imageDataUrl" accept="image/*" onchange="angular.element(this).scope().changeUploadImage(this)" />
                <input type="button" id="deleteImageInput" data-ng-click="deleteImageDataUrl()" value="Delete Image"/>
            </div>
            <div>
                <label>Category:</label>
                <select data-ng-model="newAd.category" data-ng-options="category.name for category in allCategories"></select>
                <label>Town:</label>
                <select data-ng-model="newAd.town" data-ng-options="town.name for town in allTowns"></select>
            </div>
        </div>

    </div>
    <div id="buttonContainer">
        <input type="submit" class="btn btn-default btn-lg" value="Publish" />
        <a href="#/user/home" class="btn btn-default btn-lg">Cancel</a>
    </div>
</form>
