<div>
    <div data-ng-include="'partials/headingView.html'"></div>
    <div class="container-fluid">
        <!--left-->
        <aside id="leftAside" class="col-sm-3" data-ng-controller="userNavigationController">
            <div data-ng-if="!$scope.isUserLogged()" data-ng-include="'partials/userView/userNavigationPanelView.html'"></div>
            <div data-ng-if="!$scope.isUserLogged()" data-ng-include="'partials/userView/myAdFilterPanel.html'"></div>
        </aside>
        <!--/left-->
        <!--center-->
        <main class="col-sm-9" id="middleContainer">
            <div id="messagesContainer" data-ng-repeat="message in Messages" data-ng-include="'partials/messageView.html'"></div>
            
            <div data-ng-include="'partials/changeAdCountOnPage.html'"></div>

            <div data-ng-include="'partials/userView/myAdForm.html'" data-ng-repeat="ad in allUserAds.ads"></div>

            <div data-ng-if='allUserAds.ads.length < 1'> No ads found with that filter.</div>
            
            <!-- paging -->
            <div data-ng-include="'partials/paginationView.html'"></div>
            <!-- paging -->
     
        </main>
        <!--/center-->
    </div>
    <!--/container-fluid-->
</div>