<div class="panel panel-default">
    <div class="panel-heading">Navigation</div>
    <div class="panel-body">
        <div class="list-group">
            <a data-ng-href="#/user/home" class="list-group-item" ng-class="{active : isUserSectionSelected('home')}" data-ng-click="changeUserSection('home')">Home</a>
            <a data-ng-href="#/user/ads" class="list-group-item" ng-class="{active : isUserSectionSelected('myAds')}" data-ng-click="changeUserSection('myAds')">My Ads</a>
            <a data-ng-href="#/user/ads/publish" class="list-group-item" ng-class="{active : isUserSectionSelected('newAd')}" data-ng-click="changeUserSection('newAd')">Publish New Ad</a>
            <a data-ng-href="#/user/profile" class="list-group-item" ng-class="{active : isUserSectionSelected('editProfile')}" data-ng-click="changeUserSection('editProfile')">Edit Profile</a>
        </div>
    </div>
</div>
