<div >
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <h1 id="navHeading">Ads Home </h1>
        <h4>{{getLoggedUser.username}} <a href="#/logout">Logout</a></h4>
    </nav>
    <div class="container-fluid">
        <!--left-->
        <aside id="leftAside" class="col-sm-3" data-ng-controller="userController">
            <div data-ng-if="!$scope.isUserLogged()" data-ng-include="'partials/userView/userNavigationPanelView.html'"></div>
        </aside>
        <!--/left-->
        <!--center-->
        <main class="col-sm-6" id="middleContainer">
            <div data-ng-include="'partials/changeAdCountOnPage.html'"></div>
            <div data-ng-include="'partials/adsViewPartials/allAdsView.html'" data-ng-repeat="add in allAdsData.ads"></div>
            <!-- paging -->
            <div data-ng-include="'partials/paginationView.html'"></div>
            <!-- paging -->
        </main>
        <!--/center-->
        <!--right-->
        <aside class="col-sm-3" data-ng-controller="FilterController">
            <div data-ng-include="'partials/filterView.html'"></div>
        </aside>
        <!--/right-->
        <hr>
    </div>
    <!--/container-fluid-->
</div>