<div >
    <div data-ng-include="'partials/headingView.html'"></div>
    <div class="container-fluid">
        <!--left-->
        <aside id="leftAside" class="col-sm-3" data-ng-controller="userNavigationController">
            <div data-ng-if="isUserLogged()" data-ng-include="'partials/userView/userNavigationPanelView.html'"></div>
        </aside>
        <!--/left-->
        <!--center-->
        <main class="col-sm-6" id="middleContainer">
            <div data-ng-include="'partials/changeAdCountOnPage.html'"></div>
            <div data-ng-include="'partials/adsViewPartials/allAdsView.html'" data-ng-repeat="add in allAdsData.ads"></div>
            
            <div data-ng-if='allAdsData.ads.length < 1'> No ads found with that filter.</div>

            <!-- paging -->
            <div data-ng-include="'partials/paginationView.html'"></div>
            <!-- paging -->
        </main>
        <!--/center-->
        <!--right-->
        <aside class="col-sm-3" data-ng-controller="FilterController">
            <div data-ng-include="'partials/filterView.html'"></div>
        </aside>
        <!--/right-->
        <hr>
    </div>
    <!--/container-fluid-->
</div>