<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <h1 id="navHeading">Ads Home</h1>
    </nav>
    <div class="container-fluid">
        <!--left-->
        <aside id="leftAside" class="col-sm-3" data-ng-controller="loginRegisterController">
            <div data-ng-include="'partials/adsViewPartials/loginRegisterView.html'"></div>
        </aside>
        <!--/left-->
        <!--center-->
        <main class="col-sm-6" data-ng-controller="AllAdsController" id="middleContainer">
            <div data-ng-repeat="add in allAdsData.ads">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="addHedingTitleContainer">
                            <h2>{{add.title}}</h2>
                            <span class="adDateSpan">{{add.date | date:'d-MMM-yyyy'}}</span>
                        </div>

                        <!--<p class="lead"><button class="btn btn-default">Read More</button></p>
                            <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                            <ul class="list-inline"><li><a href="#">2 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 2 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 14 Shares</a></li></ul>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img data-ng-src="{{add.imageDataUrl?add.imageDataUrl:'./img/No_Image_Available.png'}}" class="adImageContainer" />
                    </div>
                    <div class="col-md-8">
                        <p>{{add.text}}</p>
                        <p>Name: <span>{{add.ownerName}}</span></p>
                        <p>Email: <span>{{add.ownerEmail}}</span></p>
                        <p>Tel: <span>{{add.ownerPhone}}</span></p>
                    </div>
                </div>
                <hr data-ng-if="!$last">
            </div>
            <div data-ng-if='allAdsData.ads.length < 1'> No ads found with that filter.</div>
        </main>
        <!--/center-->
        <!--right-->
        <aside class="col-sm-3" data-ng-controller="FilterController">
            <div class="panel panel-default">
                <div class="panel-heading">Categories</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#/" data-ng-click="changeCategoryFilter('')">All</a></li>
                        <li data-ng-repeat="category in allCategories"><a href="" data-ng-click="changeCategoryFilter(category.id)">{{category.name}}</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">Towns</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#/" data-ng-click="changeTownFilter('')">All</a></li>
                        <li data-ng-repeat="town in allTowns"><a href="" data-ng-click="changeTownFilter(town.id)">{{town.name}}</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <!--/right-->
        <hr>
    </div>
    <!--/container-fluid-->
    <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
</div>