<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="addHedingTitleContainer">
                <h2>{{add.title}}</h2>
                <span class="adDateSpan">{{add.date | date:'d-MMM-yyyy'}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img data-ng-src="{{add.imageDataUrl?add.imageDataUrl:'./img/No_Image_Available.png'}}" class="adImageContainer" />
        </div>
        <div class="col-md-8">
            <p><strong>About:</strong>{{add.text}}</p>
            <p><strong>Name:</strong><span>{{add.ownerName}}</span></p>
            <p><strong>Email:</strong><span>{{add.ownerEmail}}</span></p>
            <p data-ng-if="add.ownerPhone"><strong>Tel:</strong><span>{{add.ownerPhone}}</span></p>
        </div>
    </div>
    <hr data-ng-if="!$last">
</div>
