<div data-ng-controller="AllAdsController">
    <div data-ng-include="'partials/headingView.html'"></div>

    <div class="container-fluid">
        <!--left-->
        <aside id="leftAside" class="col-sm-3">
            <div data-ng-if="!isUserLogged()" data-ng-include="'partials/adsViewPartials/loginRegisterView.html'"></div>
        </aside>
        <!--/left-->
        <!--center-->
        <main class="col-sm-6" id="middleContainer">
            <div id="messagesContainer" data-ng-repeat="message in Messages" data-ng-include="'partials/messageView.html'"></div>

            <div data-ng-include="'partials/changeAdCountOnPage.html'"></div>

            <img data-ng-src="./img/LoadingWheel.gif" data-ng-hide="isShown.isAllAdsShown" />

            <div data-ng-include="'partials/adsViewPartials/allAdsView.html'" data-ng-repeat="add in allAdsData.ads"></div>

            <div data-ng-if='allAdsData.ads.length < 1'> No ads found with that filter.</div>
            <!-- paging -->
            <div data-ng-include="'partials/paginationView.html'"></div>
            <!-- paging -->
        </main>
        <!--/center-->
        <!--right-->
        <aside class="col-sm-3" data-ng-controller="FilterController">
            <div data-ng-include="'partials/filterView.html'"></div>
        </aside>
        <!--/right-->
        <hr>
    </div>
    <!--/container-fluid-->
</div>