#navHeading {
    text-align: center;
}

aside {
    margin-top: 2em;
}

#buttonContainer, #buttonContainer a {
    text-align: center;
    margin: 0.2em;
}

.adImageContainer {
    width: 100%;
}

#paginationContainer {
    text-align: center;
    text-align: center;
}

#loginViewContainer {
    text-align: center;
}

#lofinForm {
    text-align: center;
    width: 60%;
    display: inline-block;
}

#loinFormInputsContainer {
    display: inline-block;
    width: 100%;
}

    #loinFormInputsContainer * {
        text-align: left;
        width: 100%;
        margin: 0em 0;
        display: block;
    }
/*.button {
    background: #70AD47;
    border: 2px solid #507E32;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 10px;
}*/
#middleContainer {
    margin-top: 2em;
}

.addHedingTitleContainer, .addHedingTitleContainer h2 {
    /*margin: 2em 0;*/
    display: inline;
}

.adDateSpan {
    /*text-align: right;
    display: inline;*/
    float: right;
    /*vertical-align: top;*/
}

#publishAdImagePreviewContainer {
    width: 100%;
    display: inline-block;
}



/* columns of same height styles */
.container-xs-height {
    display: table;
    padding-left: 0;
    padding-right: 0;
}

.row-xs-height {
    display: table-row;
}

.col-xs-height {
    display: table-cell;
    float: none;
}

.col-middle {
    vertical-align: middle;
    text-align: right;
}

.myAdActionButton {
    margin-bottom: 1em;
    width: 8em;
}

.leftBorder {
    border-left: 1px solid #eee;
}

.headingText {
    font-size: 2em;
}