<div class="panel panel-default">
    <div class="panel-heading">Navigation</div>
    <div class="panel-body">
        <div class="list-group">
            <a data-ng-href="#/admin/ads" class="list-group-item" ng-class="{active : isUserSectionSelected('home-admin')}" data-ng-click="changeUserSection('home-admin')">Ads</a>
            <a data-ng-href="#/admin/users" class="list-group-item" ng-class="{active : isUserSectionSelected('users-admin')}" data-ng-click="changeUserSection('users-admin')">Users</a>
            <a data-ng-href="#/admin/categories" class="list-group-item" ng-class="{active : isUserSectionSelected('categories-admin')}" data-ng-click="changeUserSection('categories-admin')">Categories</a>
            <a data-ng-href="#/admin/towns" class="list-group-item" ng-class="{active : isUserSectionSelected('towns-admin')}" data-ng-click="changeUserSection('towns-admin')">Towns</a>
        </div>
    </div>
</div>
