<div>
    <div data-ng-include="'partials/headingView.html'"></div>
    <div class="container-fluid">
        <!--left-->
        <aside id="leftAside" class="col-sm-3" data-ng-controller="adminNavigationController">
            <div data-ng-include="'partials/adminView/adminNavigationPanelView.html'"></div>
        </aside>
        <!--/left-->
        <!--center-->
        <main class="col-sm-9" id="middleContainer" data-ng-controller="paginationController">
            <div id="messagesContainer" data-ng-repeat="message in Messages" data-ng-include="'partials/messageView.html'"></div>
            <div data-ng-include="'partials/changeAdCountOnPage.html'"></div>
            <table>
                <thead>
                    <tr>
                        <th data-ng-click="changeSortBy('UserName')">
                            Username <span data-ng-if="sortBy == 'UserName'">&#9660;</span><span data-ng-if="sortBy == '-UserName'">&#9650;</span>
                        </th>
                        <th data-ng-click="changeSortBy('Name')">
                            Name<span data-ng-if="sortBy == 'Name'">&#9660;</span><span data-ng-if="sortBy == '-Name'">&#9650;</span>
                        </th>
                        <th data-ng-click="changeSortBy('Email')">
                            Email<span data-ng-if="sortBy == 'Email'">&#9660;</span><span data-ng-if="sortBy == '-Email'">&#9650;</span>
                        </th>
                        <th data-ng-click="changeSortBy('PhoneNumber')">
                            Phone<span data-ng-if="sortBy == 'PhoneNumber'">&#9660;</span><span data-ng-if="sortBy == '-PhoneNumber'">&#9650;</span>
                        </th>

                        <th data-ng-click="changeSortBy('Town.Name')">
                            Town<span data-ng-if="sortBy == 'Town.Name'">&#9660;</span><span data-ng-if="sortBy == '-Town.Name'">&#9650;</span>
                        </th>
                        <th>
                            is Admin
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="user in allUsers">
                        <td>{{user.username}}</td>
                        <td>{{user.name}}</td>
                        <td><a data-ng-href="user.email">{{user.email}}</a> </td>
                        <td>{{user.phoneNumber}}</td>
                        <td>{{user.townName}}</td>
                        <td>{{user.isAdmin}}</td>
                        <td>
                            <a data-ng-href="#/admin/users/edit/{{user.id}}">Edit</a>
                            <a data-ng-href="#/admin/users/delete/{{user.id}}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- paging -->
            <div data-ng-include="'partials/paginationView.html'"></div>
            <!-- paging -->
        </main>
        <!--/center-->
    </div>
    <!--/container-fluid-->
</div>