<div>
    <div data-ng-include="'partials/headingView.html'"></div>
    <div class="container-fluid">
        <!--left-->
        <aside id="leftAside" class="col-sm-3" data-ng-controller="adminNavigationController">
            <div data-ng-include="'partials/adminView/adminNavigationPanelView.html'"></div>
        </aside>
        <!--/left-->
        <!--center-->
        <main class="col-sm-9" id="middleContainer" data-ng-controller="paginationController">
            <form class="panel panel-default" id="crudCategoryForm" name="crudCategoryForm" data-ng-submit="action(action)">
                <div class="panel-heading">{{action | capitalize}} Category</div>
                <div class="panel-body" id="loinFormInputsContainer">
                    <label for="category">Category:</label>
                    <input type="text" id="category" required="required" data-ng-model="category" data-ng-disabled="action =='delete' || action =='Delete'" />
                </div>
                <div id="buttonContainer">
                    <input type="submit" class="btn btn-default btn-lg" value="{{action | capitalize}}" />
                    <a data-ng-href="#/admin/categories/list" class="btn btn-default btn-lg">Cancel</a>
                </div>
            </form>
        </main>
        <!--/center-->
    </div>
    <!--/container-fluid-->
</div>