<div class="panel panel-default">
    <div class="panel-heading">Categories</div>
    <div class="panel-body">
        <div class="list-group">
            <a href="" class="list-group-item" data-ng-class="{active : isSelectedCategory(category)}" data-ng-click="changeCategoryFilter(category)">All</a>
            <a href="" class="list-group-item" ng-class="{active : isSelectedCategory(category)}" data-ng-repeat="category in allCategories" data-ng-click="changeCategoryFilter(category)">{{category.name}}</a>
        </div>
    </div>
</div>
<hr>
<div class="panel panel-default">
    <div class="panel-heading">Towns</div>
    <div class="panel-body">
        <div class="list-group">
            <a href="" class="list-group-item" ng-class="{active : isSelectedTown(town)}" data-ng-click="changeTownFilter(town)">All</a>
            <a href="" class="list-group-item" ng-class="{active : isSelectedTown(town)}" data-ng-repeat="town in allTowns" data-ng-click="changeTownFilter(town)">{{town.name}}</a>
        </div>
    </div>
</div>