<div class="row" id="paginationContainer" data-ng-controller="paginationController">
    <div class="col-md-12">
        <ul class="pagination">
            <li data-ng-if="paginationData.length > 1"><a href="" data-ng-click="changePage(1)">First</a></li>

            <!-- TODO: add limitTo:10 + add prev-next page button + add range(startPage,toPage)-->
            <li data-ng-if="paginationData.length > 1" data-ng-repeat="i in paginationData"><a href="" data-ng-click="changePage($index + 1)">{{$index + 1}}</a></li>

            <li data-ng-if="paginationData.length > 1"><a href="" data-ng-click="changePage(paginationData.length)">Last</a></li>
        </ul>
    </div>
</div>